html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding:0;
    background: #141414;
    color: #fff;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    overflow: hidden;
}
/* COMMON CSS*/
a:focus {
    border: 3px solid #e2e2e2;
}
body ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent;
}
body ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    -webkit-box-shadow: inset 0 0 0 24px rgba(238, 234, 234, 0.829);
    box-shadow: inset 0 0 0 24px rgba(247, 244, 244, 0.808);
    border-radius: 24px;
}
.margin-auto-center {
    margin-left: auto;
    margin-right: auto;
}
header, section, footer {
    width:100%;
}
.text-align-center {
    text-align: center;
}
.margin-top-5 {
    margin-top:5px; 
}
.margin-top-10 {
    margin-top:10px; 
}
.margin-top-20 {
    margin-top:20px; 
}
.margin-top-50 {
    margin-top:50px; 
}
.margin-bottom-5 {
    margin-bottom:5px; 
}
.margin-bottom-10 {
    margin-bottom:10px; 
}
.margin-bottom-20 {
    margin-bottom:20px; 
}
.margin-bottom-50 {
    margin-bottom:50px; 
}
.card {
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12)
}
.row {
    display: flex;
    flex-direction: row;
    -webkit-box-direction: normal;
}
.column {
    flex-direction: column;
}
.align-center {
    align-items: center;
    align-content: center space-between; 
}
.align-center-center {
    justify-content: center;
    align-items: center;
    flex-grow: inherit !important;
}
.align-center-start {
    justify-content: start;
    align-items: center;
    flex-grow: inherit !important;
}
.space-between > * {
    flex: 1 1 0%;
}
.layout-wrap {
    flex-wrap: wrap;
}
.box {

}
/*HEADER - START*/

header {
    /*background-color: #2d323e;*/
    background-color: #000000;
    z-index: 2;
    position: fixed;
    top:0;
    min-height: 68px;
    height: 68px;
    display: flex;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.header-content {
    color: rgba(0,0,0,.87)!important;
    width: 100%;
    padding: 0 4%;
    display: flex;
    flex-direction: row;
}
.header-content .app-netflix-logo {
    height: 100%
}
.header-content .app-netflix-logo a {
    text-decoration: none;
}
.header-content .app-netflix-logo a:focus {
    border: none;
}
.header-content .app-header-title {
    font-size: 30px;
    color: #FFFFFF;
    margin-top: -20px;
    width: 320px;
    zoom: .5;
    height: 100%;
    background: url('../assets/newnetflix.png') no-repeat;
    background-position-x: -20px;
}
.app-search-input-container {
    height: 50px;
    line-height: 50px;
    padding: 5px;
    position: relative;
}
.search-input {
    height: 50px;
    padding-left: 50px;
    color: rgba(0,0,0,.54);
    border: none;
    outline: none;
    /*width: 87%;*/
    width: 95%;
    font-size: 20px;
    border-radius: 2px;
}
.search-icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 35px;
    width: 45px;
    position: absolute;
    top: 13px;
}
/*HEADER - END*/

/*APP CONTENT - START*/
section.app-section {
    display: flex;
    margin-top: 85px;
    height: calc(100vh - 80px);
    flex: 1 1 auto;
    margin-top: 70px;
    overflow-y: auto;
    overflow-x: hidden;
}

.app-categories-list-container {
    width: 100%;
    padding: 0 4%;
}
.no-records-found-container {
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 600;
    transition: opacity ease-in .5s;
    opacity: 0;
    height: 0;
}
.no-records-found-container.show-no-categories-message {
    opacity: 1;
    margin-top: 10%;
    text-align: center;
    height: 100%;
}
.app-categories-list-container  ul {
    list-style: none;
}

.app-categories-list-container ul  li {
    line-height: 30px;
}
.app-categories-list-container ul  li .list-item-content {
    padding: 10px 10px 10px 20px;
    border-radius: 2px;
}

.genre .list-item-content {
    color: #e5e5e5;
    padding: 10px 10px 10px 0;
    font-weight: 700;
    font-size: 1.4vw;
}

.app-categories-list-container a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px;
}
.app-categories-list-container a:hover {
    font-size: 20px;
}

.category {
    /*min-width: 350px;*/
    min-width: 10%;
    padding: 10px 50px 10px 50px;
    height: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.category .list-item-content {
    padding: 0;
}

.expand-collapse-container {
    width: 10px;
    margin-right: 10px;
}
i.collapsed-icon {   
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    transition: all ease-in .2s;
}
.active .expand-collapse-container i.collapsed-icon {
    transform: rotate(45deg);
}


/*APP CONTENT - END*/

/* MEDIA QUERIES*/
@media screen and (min-width: 1500px)
{
    .header-content, .app-categories-list-container, .app-load-bar-container{
        padding: 0 60px;
    }
}
@media screen and (min-width: 1400px) {
    .category {
        min-width: 10%;
    }
}
@media screen and (max-width: 900px) {
    .category {
        padding: 10px 40px 10px 40px;
        min-width: 100px;
    }
}

@-moz-document url-prefix() {
    .header-content .app-header-title {
        -moz-transform: scale(.5);
        height: 120px;
        margin-top: -38px;
        margin-left: -88px;
    }
}
/*MEDIA QUERIES*/

/*COLOR PALLETTE START - we can also define array in global object with HEX values for colors
and add css style to each category box*/
.color-box {
    background-color: #6C6C6C;
}
.color-box:hover {
    background-color: #E57373;
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.color-0 {
    background-color: #5BC8AC;
}
.color-1 {
    background-color: #E57373;
}
.color-2 {
    background-color:#F06292;
}
.color-3 {
    background-color:#7B1FA2;
}
.color-4 {
    background-color: #3F51B5;
}
.color-5 {
    background-color: #5E35B1;
}
.color-6 {
    background-color: #039BE5;
}
.color-7 {
    background-color: #00ACC1;
}
.color-8 {
    background-color: #00897B;
}
.color-9 {
    background-color: #388E3C;
}   
.color-10 {
    background-color: #558B2F;
}
.color-11 {
    background-color: #757575;
}
.color-12 {
    background-color: #546E7A;
}
.color-13 {
    background-color: #F98866;
}
.color-14 {
    background-color: #FF420E;
}
.color-15 {
    background-color: #80BD9E;
}
.color-16 {
    background-color: #90AFC5;
}
.color-17 {
    background-color: #2A3132;
}
.color-18 {
    background-color: #66A5AD;
}
.color-19 {
    background-color: #2C7873;
}
.color-20 {
    background-color: #375E97;
}
/*COLLERE PALLETE END*/

/* LOAD BAR CSS START*/
.app-load-bar-container {
    padding: 0 3.5%;
}
.dummy-category-background {
    background: transparent;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 5px;
    padding: 12px 12px 12px 0;
    margin: 0 auto;
    width: 100%;
    min-height: 70px;
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity ease-out .3s;
}
.hide-loading-bar {
    opacity: 0;
    display: none;
}
@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}
.dummy-category {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #6C6C6C;
    background: linear-gradient(to right, #818181 8%, #888787 18%, #7c7b7b 33%);
    background-size: 800px 104px;
    position: relative;
    border-radius: 5px;
}
.dummy-category-dimensions {
    width:200px;
    height: 100px;
    margin-right: 5px;
}
.dummy-category-title {
    width: 150px;
    height: 25px;
    margin-bottom: 20px;
}
/* LOAD BAR CSS END*/

/*SCROLL TOP CSS START*/
.scroll-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    transform: scale(1);
    opacity: 1;
    height: 50px;
    width: 50px;
    z-index: 10;
    background-color: #E50914;
    border-radius: 50%;
    transition: transform 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    vertical-align: middle;
    cursor: pointer;
}
.scroll-top.hidden-scroll {
    transform: scale(0);
    opacity: 0;
}
i.scroll-top-icon {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-left: 18px;
    margin-top: 20px;
}

/*SCROLL TOP CSS START*/
